.headin{
    background-image: url("/home/bill/Desktop/assignmnt-week-3/background/h.jpg");
    background-size: cover;
     height: 700px;
     width: 100%;
     text-align: center;
}
body{ color: white;
}
.about{
    text-align: center;
    background-size: cover;
    height: 350px;
    color: black;
}

.services{
    justify-content: center;
    align-items: center;
    background-image: url("/home/bill/Desktop/assignmnt-week-3/background/s.jpg");
    background-size: cover;
    height: 350px;
    text-align: center;
}
.heading{
    text-align: center;
    color: black;
}
.pic{
    display: flex;
    justify-content: center;
    color: black;
    float: left;
    width: 30%;
    padding: 20px;
    margin: auto;
    
}
.port .row img{
    width: 200px;
    padding: 10px;
}  
#last{
    background-image: url("/home/bill/Desktop/assignmnt-week-3/background/c.jpg");
}

