.headin{
    background-image: url("background/h.jpg");
    background-size: cover;
     height: 700px;
     width: 100%;
     text-align: center;
}
body{ color: white;
}
.about{
    text-align: center;
    background-size: cover;
    height: 350px;
    color: black;
}

.services{
    justify-content: center;
    align-items: center;
    background-image: url("background/s.jpg");
    background-size: cover;
    height: 350px;
    text-align: center;
}
.heading{
    text-align: center;
    color: black;
}
.pic{
    display: flex;
    justify-content: center;
    color: black;
    float: left;
    width: 30%;
    padding: 20px;
    margin: auto;
    
}
.port .row img{
    width: 200px;
    padding: 10px;
}  
.img3{
    color: white;
    text-align: center;
    background-image: url(background/c.jpg);
    height: 350px;
    width: 1050px;
    background-position: center;
}
.img3 form{
    margin: 50px;
    
}
.img3 .row input{
    color: white;
}

.img3 form textarea{
    color: white;
}

.container{
    text-align: center;
}

.end{
    text-align: center;
    color: black;
}
.text-center{
    color: black;
}
#p1{
    text-align: center;
}
.row .pic{
    justify-content: center;
    
}
input{
    color: white;
}