.headin{
    background-image: url("h.jpg");
    background-size: cover;
     height: 700px;
     text-align: center;
}
body{ color: white;
}
.about{
    text-align: center;
    background-size: cover;
    height: 700px;
    color: black;
}

.services{
    background-image: url("s.jpg");
    background-size: cover;
    height: 700px;
    text-align: center;
}
.heading{
    text-align: center;
    color: black;
}
.pic{
    display: flex;
    color: black;
    float: left;
    width: 30%;
    padding-left: 150px;
}
.portfolio{
    

}